* {
  font-family: Quicksand, courier, serif;
}

#contact {
  line-height: 0.1em;
}

#edu, #employment, #skills {
  border: 3px solid blue;
  padding: 10px;
  margin-top: 10px;
}

#college, .job {
   margin-top: 10px;
  margin-left: 20px;
}

#college h3 span,
.job h3 span {
  float: right;
  font-size: 15px;
  width: 100px;
}

#employment {
  line-height: 1em;
}

.job {
  line-height: 1em;
}

header {
  color: rgb(45,78,150);
}
